<header>{{ appTitle }}</header>
<div class="page-container">
  <ng-container *ngIf="user$ | async as user; else errorTemplate">
    <div class="user-container">
      <div class="user-card">
        <div class="picture">
          <img [src]="user.picture.medium" />
        </div>
        <div class="info">
          <div class="name">
            <div class="label">Hello! I am</div>
            <div class="value"> {{ user.name.title }} {{ user.name.first }} {{ user.name.last }}</div>
          </div>
          <div class="other" *ngIf="otherInfo$ | async as otherInfo">
            <div class="label">{{ otherInfo.label }}</div>
            <div class="value"> {{ otherInfo.value }}</div>
          </div>
        </div>
      </div>
      <div class="toolbox">
        <mat-icon aria-hidden="false" aria-label="Example home icon" (mouseover)="onMouseOver('email')">mail_outline</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" (mouseover)="onMouseOver('dob')">date_range</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" (mouseover)="onMouseOver('location')">home</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" (mouseover)="onMouseOver('phone')">phone</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" (mouseover)="onMouseOver('password')">password</mat-icon>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #errorTemplate>
  <div class="error-message">Error loading user resource</div>
</ng-template>
